.product-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-inline-size: 80rem;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-block-start: 50px;
    padding: 0 20px;
}


.container img{
    width: 100%;
    height: 70vh;
    object-fit: contain;
    background-color: #eee;
}

.details{
    width: 100%;
    max-inline-size: 40rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-and-reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price{
    display: flex;
    flex-direction: column;
}

.price h3{
    margin-bottom: 0px;
}

.price span{
    font-size: 30px;
    font-weight: 500;
}

.category{
    text-transform: capitalize;
}

.rates{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rates:has(span){
    font-size: 15px;
    font-weight: 500;
}

.describtion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.describtion p{
    /* text-transform: capitalize; */
    color: grey;
}

::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    font-size: 10px;
    color: orange !important;
}

.action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.action-buttons button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.action-buttons button:first-child{
    background-color: #000;
    color: #fff;
}

.action-buttons button:first-child:hover{
    background-color: #3b3b3b;
    color: #fff;
}

.action-buttons button:active:first-child{
    background-color: grey;
    color: #fff;
}


.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
}

.quantity-control button {
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
}

.quantity-control span {
    font-size: 16px;
    margin: 0 10px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .container img {
        max-width: 100%;
        max-height: 400px;
    }

    .details {
        max-width: 100%;
    }

    .action-buttons {
        flex-direction: column;
    }

    .action-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }

    .quantity-control {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
